.profile__avatar {
  object-fit: cover;
  object-position: center;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 570px) {
  .profile__avatar {
    margin-bottom: 29px;
  }
}